body {
    background-color: lightsteelblue; 
    border: 5px double #333; 
    padding: 20px; 
    border-radius: 5px;
}


.Login-page {

}

.Registragion-page {

}

.Grades-page {

}

.grade-container {

}

.Subjects-page {

}

.Downloads-page {

}

h2 {
    color: darkblue;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}.nav-logo {

}

.Registration-page {

}
